.u-section-1 .u-sheet-1 {
  min-height: 1585px;
}

.u-section-1 .u-text-1 {
  margin: 59px 95px 0 auto;
}

.u-section-1 .u-list-1 {
  margin-top: 28px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 509px;
  grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 2px 30px;
}

.u-section-1 .u-icon-1 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 28px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 2px 30px;
}

.u-section-1 .u-icon-2 {
  height: 80px;
  width: 80px;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: 28px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 2px 30px;
}

.u-section-1 .u-icon-3 {
  height: 80px;
  width: 80px;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: 28px auto 0;
}

.u-section-1 .u-text-6 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 10px auto 0;
}

.u-section-1 .u-text-8 {
  margin: 33px 403px 0 424px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 59px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 179px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -91px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 320px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 11px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 32px;
    margin-right: 303px;
    margin-left: 324px;
  }

  .u-section-1 .u-text-9 {
    margin-bottom: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 498px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -411px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 735px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 193px;
    margin-left: 214px;
  }

  .u-section-1 .u-text-9 {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 638px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -544px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 4px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 39px;
    margin-right: 103px;
    margin-left: 124px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 1093px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -992px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -3px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 46px;
    margin-right: 3px;
    margin-left: 24px;
  }
} .u-section-2 {
  min-height: 318px;
}

.u-section-2 .u-sheet-1 {
  min-height: 655px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 655px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 0 auto;
  padding: 10px;
}

.u-section-2 .u-text-1 {
  margin: 31px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 19px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 655px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-image-1 {
  margin-bottom: 0;
  margin-top: 79px;
  height: 402px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 540px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 540px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-image-1 {
    height: 332px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 66px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 414px;
  }

  .u-section-2 .u-image-1 {
    height: 254px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 621px;
  }

  .u-section-2 .u-image-1 {
    height: 381px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-2 {
    min-height: 391px;
  }

  .u-section-2 .u-image-1 {
    height: 240px;
  }
}